# Applying Machine learning

## Importing necessary modules and data

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
df_model = pd.read_csv('President and Gdp data Encoded.csv')
df_model.drop(columns = 'index' , inplace = True)
df_model.head()

,Country_China,Country_India,Country_Singapore,Country_Sri Lanka,Country_United Kingdom,Country_United States,Presidential term,Year start,Educational Background,Professional Background,Left Hand / Right Handed,Experience,Average
0,0,0,0,1,0,0,1,2015,0.0,0,1,44,3.732474
1,0,0,0,1,0,0,2,2010,5.0,0,1,43,6.784341
2,0,0,0,1,0,0,1,2006,5.0,0,1,39,5.988530
3,0,0,0,1,0,0,2,2000,7.5,0,1,26,4.341063
4,0,0,0,1,0,0,1,1995,7.5,0,1,20,4.940883

## Applying linear regression models

In [3]:
# break independenct and dependent variables

X = df_model.values[:, 0:-1]
y = df_model.values[:, -1]

### Applying linear least square model

In [8]:
# without normalization

model_ols =  LinearRegression(normalize=False)
model_ols.fit(X,y) 

coef1 = model_ols.coef_
intercept1 = model_ols.intercept_
print('coef1= ', coef1)
print('intercept1= ', intercept1)

coef1=  [ 3.90297572  2.10619931  0.88029825 -0.29306251 -3.50469048 -3.0917203
 -0.23801897 -0.0778055  -0.31589889 -0.18784962  0.29573867 -0.04116963]
intercept1=  164.49932227772547

In [9]:
# with normalization

model_ols =  LinearRegression(normalize=True)
model_ols.fit(X,y) 

coef2 = model_ols.coef_
intercept2 = model_ols.intercept_
print('coef2= ', coef2)
print('intercept2= ', intercept2)

coef2=  [ 4.01253676  2.21576034  0.98985929 -0.18350148 -3.39512944 -2.98215927
 -0.23801897 -0.0778055  -0.31589889 -0.18784962  0.29573867 -0.04116963]
intercept2=  164.38976124638313

In [39]:
# Normalization did not provide different result. Year should have been recategorized.
# prediction Sajith premadasa for 2024 election

Sajith = [0,0,0,1,0,0,1,2024,0.5,0,1,31]
Sajith_prediction = sum(Sajith*coef1)+intercept1

Sajith = [0,0,0,1,0,0,1,2024,0.5,0,1,31]
Sajith_prediction = sum(Sajith*coef1)+intercept1

Sajith_prediction

5.351444201028073

In [40]:

Sajith = np.array(Sajith)

Sajith = np.reshape(Sajith, (1,12))

model_ols.predict(Sajith)

array([5.3514442])