# Binary Encoding presidential data

### importing libraries and datasets

In [244]:
import pandas as pd

In [312]:
df_presidents = pd.read_csv('Growth mapped to reigns.csv')
pd.set_option('display.max_columns', None)
df_presidents.head()

,ID,Country,Name,DOB,Presidential term,Year start,Year end,Educational Background,Professional Background,Political Party,University,Birth Place,Left Hand / Right Handed,Comment(HOS),Comment(start year),Political Experience,Experience,Max,Min,Average,Std Dev
0,NaN,Sri Lanka,Gotabaya Rajapaksa,1949,1,2020,2021,Army Training,Military,SLFP,Diyathalawa Defence university,"Mathara, Sri Lanka",Right,President,Major,Defence secretary,14,NaN,NaN,NaN,NaN
1,NaN,Sri Lanka,Maithripala Sirisena,1951,1,2015,2019,School,Politician,SLFP,None,"Gampaha, Sri Lanka",Right,President,Major,SLFP youth,44,5.007683,2.283465,3.732474,1.060646
2,NaN,Sri Lanka,Mahinda Rajapaksa,1945,2,2010,2014,Law,Politician,SLFP,Law collage,"Hambanthota, Sri Lanka",Right,President,Major,SLFP,43,9.144572,3.395733,6.784341,2.475964
3,NaN,Sri Lanka,Mahinda Rajapaksa,1945,1,2006,2009,Law,Politician,SLFP,Law collage,"Hambanthota, Sri Lanka",Right,President,Major,SLFP,39,7.668292,3.538912,5.988530,1.777362
4,NaN,Sri Lanka,Chandrika Bandaranaike Kumaratunga,1945,2,2000,2005,Diploma(Phd followed),Politician,SLFP,Institut d'Etudes Politiques de Paris,"Colombo, Sri Lanka",Right,President,Major,Sri lanka womens league,26,6.241748,-1.545408,4.341063,2.997775

In [313]:
columns = ['Country','Presidential term','Year start','Educational Background','Professional Background',
           'Political Party','University','Left Hand / Right Handed']

for column in range(len(columns)):
    print(df_presidents.groupby(by = columns[column])['Name'].count()*100/df_presidents['Name'].count())

Country
China             15.789474
India             13.157895
Singapore         18.421053
Sri Lanka         15.789474
United Kingdom    18.421053
United States     18.421053
Name: Name, dtype: float64
Presidential term
1    55.263158
2    34.210526
3     7.894737
4     2.631579
Name: Name, dtype: float64
Year start
1992    2.631579
1993    5.263158
1995    2.631579
1997    7.894737
1998    5.263158
2000    2.631579
2001    5.263158
2002    2.631579
2003    2.631579
2004    2.631579
2005    5.263158
2006    5.263158
2007    2.631579
2008    2.631579
2009    5.263158
2010    2.631579
2011    2.631579
2013    5.263158
2014    2.631579
2015    5.263158
2016    5.263158
2017    2.631579
2018    2.631579
2019    5.263158
2020    5.263158
Name: Name, dtype: float64
Educational Background
Army Training             2.631579
Bachelor’s               23.684211
DPhil                     5.263158
Degree                    2.631579
Diploma(Phd followed)     5.263158
JD                       10.526316
LLD                       5.263158
Law                       5.263158
Masters                  34.210526
PhD                       2.631579
School                    2.631579
Name: Name, dtype: float64
Professional Background
Business        7.894737
Education       5.263158
Engineering    10.526316
Law             5.263158
Media           2.631579
Military       13.157895
Politician     47.368421
Shipping        7.894737
Name: Name, dtype: float64
Political Party
BJP                 7.894737
Communist Party    15.789474
Conservative        7.894737
Democratic         10.526316
INC                 5.263158
Labor              10.526316
PAP                18.421053
Republican          7.894737
SLFP               15.789474
Name: Name, dtype: float64
University
DAV College, Kanpur                       2.631579
Diyathalawa Defence university            2.631579
Gujarat University                        5.263158
Harvard University                       10.526316
Institut d'Etudes Politiques de Paris     5.263158
John F. Kennedy School of Government     10.526316
Law collage                               5.263158
National Chiao Tung University            5.263158
None                                      2.631579
Oxford Universty                         15.789474
Tsinghua University                      10.526316
University of Edinburugh                  2.631579
University of Oxford                      5.263158
University of Pennsylvania                2.631579
Williams College                          7.894737
Yale University                           5.263158
Name: Name, dtype: float64
Left Hand / Right Handed
Left     23.684211
Right    76.315789
Name: Name, dtype: float64

In [314]:
# These items are removed from furthuer classifications as they cannot be used accross differenct countries
# or not enough unique items.
# 'end year','Uniersity'

columns = ['Country', 'Name','Presidential term','Year start', 'Educational Background', 'Professional Background',
       'Left Hand / Right Handed','Experience', 'Average']

df_presidents_final = df_presidents[columns]
df_presidents_final.shape

(38, 9)

In [315]:
# dropping null values in average column and re-categorizing educational background as 
# High School, Degree, and Higher Degree

df_presidents_final = df_presidents_final.dropna().reset_index()

for row in range(len(df_presidents_final)):
    entry = df_presidents_final['Educational Background'][row]
    
    if (entry == 'Bachelor’s' or entry == 'Degree' or entry == 'Law' or entry =='JD' ):
        df_presidents_final['Educational Background'][row] = 'Degree'
        
    elif (entry == 'Diploma(Phd followed)' or entry == 'Masters'):
        df_presidents_final['Educational Background'][row] = 'Higher Degree'
    
    elif (entry =='LLD' or entry == 'PhD' or entry == 'DPhil'):
        df_presidents_final['Educational Background'][row] = 'Doctarate'
    
    else:
        df_presidents_final['Educational Background'][row] = 'No Degree'

<ipython-input-315-ca3671c5e351>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_presidents_final['Educational Background'][row] = 'No Degree'
<ipython-input-315-ca3671c5e351>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_presidents_final['Educational Background'][row] = 'Degree'
<ipython-input-315-ca3671c5e351>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_presidents_final['Educational Background'][row] = 'Higher Degree'
<ipython-input-315-ca3671c5e351>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_presidents_final['Educational Background'][row] = 'Doctarate'

In [316]:
# Let us also reduce number of categories for Professional Backgrounds

for row in range(len(df_presidents_final)):
    entry = df_presidents_final['Professional Background'][row]
    
    if entry == 'Politician':
        df_presidents_final['Professional Background'][row] = 'Politician'
    else:
        df_presidents_final['Professional Background'][row] = 'Non-Politician'

<ipython-input-316-0e1e1071f112>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_presidents_final['Professional Background'][row] = 'Politician'
<ipython-input-316-0e1e1071f112>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_presidents_final['Professional Background'][row] = 'Non-Politician'

In [317]:
df_presidents_final.head(10)

,index,Country,Name,Presidential term,Year start,Educational Background,Professional Background,Left Hand / Right Handed,Experience,Average
0,1,Sri Lanka,Maithripala Sirisena,1,2015,No Degree,Politician,Right,44,3.732474
1,2,Sri Lanka,Mahinda Rajapaksa,2,2010,Degree,Politician,Right,43,6.784341
2,3,Sri Lanka,Mahinda Rajapaksa,1,2006,Degree,Politician,Right,39,5.988530
3,4,Sri Lanka,Chandrika Bandaranaike Kumaratunga,2,2000,Higher Degree,Politician,Right,26,4.341063
4,5,Sri Lanka,Chandrika Bandaranaike Kumaratunga,1,1995,Higher Degree,Politician,Right,20,4.940883
5,6,India,Narendra Damodardas Modi,2,2019,Higher Degree,Politician,Right,41,4.180728
6,7,India,Narendra Damodardas Modi,1,2014,Higher Degree,Politician,Right,36,7.365239
7,8,India,Manmohan Singh,2,2009,Doctarate,Non-Politician,Right,18,6.808919
8,9,India,Manmohan Singh,1,2004,Doctarate,Non-Politician,Right,13,6.930923
9,10,India,Atal Bihari Vajpayee,1,1998,Higher Degree,Politician,Right,47,5.893248

In [318]:
df_presidents_final['Professional Background'].unique()

array(['Politician', 'Non-Politician'], dtype=object)

In [319]:
columns = df_presidents_final.columns[3:-2].tolist()

for column in range(len(columns)):
    print(df_presidents_final.groupby(by = columns[column])['Name'].count()*100/df_presidents['Name'].count())

Presidential term
1    50.000000
2    34.210526
3     7.894737
Name: Name, dtype: float64
Year start
1992    2.631579
1993    5.263158
1995    2.631579
1997    7.894737
1998    5.263158
2000    2.631579
2001    5.263158
2002    2.631579
2003    2.631579
2004    2.631579
2005    5.263158
2006    5.263158
2007    2.631579
2008    2.631579
2009    5.263158
2010    2.631579
2011    2.631579
2013    5.263158
2014    2.631579
2015    2.631579
2016    5.263158
2017    2.631579
2018    2.631579
2019    5.263158
Name: Name, dtype: float64
Educational Background
Degree           42.105263
Doctarate        13.157895
Higher Degree    34.210526
No Degree         2.631579
Name: Name, dtype: float64
Professional Background
Non-Politician    47.368421
Politician        44.736842
Name: Name, dtype: float64
Left Hand / Right Handed
Left     18.421053
Right    73.684211
Name: Name, dtype: float64

In [320]:
# In here country, Professional background and Handedness are nominal variables
# Educational Backgroud is ordinal

# Let us encode Educational Background according Sri Lanka Qualification framework
# No Degree = 0, Degree = 5, Phd = 10, So higher degree = 7.5

df_presidents_final_map = df_presidents_final
df_presidents_final_map['Educational Background'] = df_presidents_final['Educational Background'].map({'No Degree':0, 'Degree':5, 'Higher Degree':7.5, 'Doctarate':10})
df_presidents_final_map.head()

,index,Country,Name,Presidential term,Year start,Educational Background,Professional Background,Left Hand / Right Handed,Experience,Average
0,1,Sri Lanka,Maithripala Sirisena,1,2015,0.0,Politician,Right,44,3.732474
1,2,Sri Lanka,Mahinda Rajapaksa,2,2010,5.0,Politician,Right,43,6.784341
2,3,Sri Lanka,Mahinda Rajapaksa,1,2006,5.0,Politician,Right,39,5.988530
3,4,Sri Lanka,Chandrika Bandaranaike Kumaratunga,2,2000,7.5,Politician,Right,26,4.341063
4,5,Sri Lanka,Chandrika Bandaranaike Kumaratunga,1,1995,7.5,Politician,Right,20,4.940883

In [321]:
# encoding Left = 0, Right = 1
# encodin Politicial = 0, Non-Politician = 1

df_presidents_final_map['Professional Background'] = df_presidents_final['Professional Background'].map({'Politician':0, 'Non-Politician':1,})
df_presidents_final_map['Left Hand / Right Handed'] = df_presidents_final['Left Hand / Right Handed'].map({'Left':0, 'Right':1,})
df_presidents_final_map

,index,Country,Name,Presidential term,Year start,Educational Background,Professional Background,Left Hand / Right Handed,Experience,Average
0,1,Sri Lanka,Maithripala Sirisena,1,2015,0.0,0,1,44,3.732474
1,2,Sri Lanka,Mahinda Rajapaksa,2,2010,5.0,0,1,43,6.784341
2,3,Sri Lanka,Mahinda Rajapaksa,1,2006,5.0,0,1,39,5.988530
3,4,Sri Lanka,Chandrika Bandaranaike Kumaratunga,2,2000,7.5,0,1,26,4.341063
4,5,Sri Lanka,Chandrika Bandaranaike Kumaratunga,1,1995,7.5,0,1,20,4.940883
5,6,India,Narendra Damodardas Modi,2,2019,7.5,0,1,41,4.180728
6,7,India,Narendra Damodardas Modi,1,2014,7.5,0,1,36,7.365239
7,8,India,Manmohan Singh,2,2009,10.0,1,1,18,6.808919
8,9,India,Manmohan Singh,1,2004,10.0,1,1,13,6.930923
9,10,India,Atal Bihari Vajpayee,1,1998,7.5,0,1,47,5.893248
10,12,Singapore,LeeHsien Loong,3,2016,7.5,1,0,32,2.937875
11,13,Singapore,LeeHsien Loong,2,2011,7.5,1,0,27,4.512660
12,14,Singapore,LeeHsien Loong,1,2006,7.5,1,0,22,6.908429
13,15,Singapore,GohChok Tong,3,2002,7.5,1,1,26,6.407254
14,16,Singapore,GohChok Tong,2,1997,7.5,1,1,21,3.963736
15,17,Singapore,GohChok Tong,1,1992,7.5,1,1,16,8.774480
16,18,United States,Donald Trump,1,2017,5.0,1,1,17,2.486101
17,19,United States,Barack Obama,2,2013,5.0,1,0,16,2.228479
18,20,United States,Barack Obama,1,2009,5.0,1,0,12,0.956848
19,21,United States,George W. Bush,2,2005,7.5,1,1,27,1.114204
20,22,United States,George W. Bush,1,2001,7.5,1,1,23,2.350034
21,23,United States,Bill Clinton,2,1997,5.0,0,0,26,4.452336
22,24,United States,Bill Clinton,1,1993,5.0,0,0,22,3.309618
23,25,United Kingdom,Boris Johnson,1,2019,5.0,1,1,25,1.462658
24,26,United Kingdom,Theresa May,1,2016,5.0,0,1,22,1.716984
25,28,United Kingdom,Gordon Brown,1,2007,10.0,0,1,27,-0.699474
26,29,United Kingdom,Tony Blair,3,2005,5.0,0,1,23,2.984027
27,30,United Kingdom,Tony Blair,2,2001,5.0,0,1,19,2.739761
28,31,United Kingdom,Tony Blair,1,1997,5.0,0,1,15,3.591345
29,32,China,Xi Jinping,2,2018,10.0,0,1,39,6.429946
30,33,China,Xi Jinping,1,2013,10.0,0,1,34,7.205841
31,34,China,Hu Jintao,2,2008,5.0,1,1,26,9.419969
32,35,China,Hu Jintao,1,2003,5.0,1,1,21,11.699612
33,36,China,Jiang Zemin,2,1998,5.0,1,1,15,8.293412
34,37,China,Jiang Zemin,1,1993,5.0,1,1,10,11.406765

In [322]:
# one hot encoding for the country.
df_dummy = pd.get_dummies(df_presidents_final_map['Country'], prefix='Country')

In [325]:
df_presidents_final_map = pd.concat([df_dummy, df_presidents_final_map], axis = 1)
df_presidents_final_map['index'] = df_presidents_final_map.index

df_presidents_final_map.drop(columns = ['Country','Name'], inplace = True)
df_presidents_final_map

,Country_China,Country_India,Country_Singapore,Country_Sri Lanka,Country_United Kingdom,Country_United States,index,Presidential term,Year start,Educational Background,Professional Background,Left Hand / Right Handed,Experience,Average
0,0,0,0,1,0,0,0,1,2015,0.0,0,1,44,3.732474
1,0,0,0,1,0,0,1,2,2010,5.0,0,1,43,6.784341
2,0,0,0,1,0,0,2,1,2006,5.0,0,1,39,5.988530
3,0,0,0,1,0,0,3,2,2000,7.5,0,1,26,4.341063
4,0,0,0,1,0,0,4,1,1995,7.5,0,1,20,4.940883
5,0,1,0,0,0,0,5,2,2019,7.5,0,1,41,4.180728
6,0,1,0,0,0,0,6,1,2014,7.5,0,1,36,7.365239
7,0,1,0,0,0,0,7,2,2009,10.0,1,1,18,6.808919
8,0,1,0,0,0,0,8,1,2004,10.0,1,1,13,6.930923
9,0,1,0,0,0,0,9,1,1998,7.5,0,1,47,5.893248
10,0,0,1,0,0,0,10,3,2016,7.5,1,0,32,2.937875
11,0,0,1,0,0,0,11,2,2011,7.5,1,0,27,4.512660
12,0,0,1,0,0,0,12,1,2006,7.5,1,0,22,6.908429
13,0,0,1,0,0,0,13,3,2002,7.5,1,1,26,6.407254
14,0,0,1,0,0,0,14,2,1997,7.5,1,1,21,3.963736
15,0,0,1,0,0,0,15,1,1992,7.5,1,1,16,8.774480
16,0,0,0,0,0,1,16,1,2017,5.0,1,1,17,2.486101
17,0,0,0,0,0,1,17,2,2013,5.0,1,0,16,2.228479
18,0,0,0,0,0,1,18,1,2009,5.0,1,0,12,0.956848
19,0,0,0,0,0,1,19,2,2005,7.5,1,1,27,1.114204
20,0,0,0,0,0,1,20,1,2001,7.5,1,1,23,2.350034
21,0,0,0,0,0,1,21,2,1997,5.0,0,0,26,4.452336
22,0,0,0,0,0,1,22,1,1993,5.0,0,0,22,3.309618
23,0,0,0,0,1,0,23,1,2019,5.0,1,1,25,1.462658
24,0,0,0,0,1,0,24,1,2016,5.0,0,1,22,1.716984
25,0,0,0,0,1,0,25,1,2007,10.0,0,1,27,-0.699474
26,0,0,0,0,1,0,26,3,2005,5.0,0,1,23,2.984027
27,0,0,0,0,1,0,27,2,2001,5.0,0,1,19,2.739761
28,0,0,0,0,1,0,28,1,1997,5.0,0,1,15,3.591345
29,1,0,0,0,0,0,29,2,2018,10.0,0,1,39,6.429946
30,1,0,0,0,0,0,30,1,2013,10.0,0,1,34,7.205841
31,1,0,0,0,0,0,31,2,2008,5.0,1,1,26,9.419969
32,1,0,0,0,0,0,32,1,2003,5.0,1,1,21,11.699612
33,1,0,0,0,0,0,33,2,1998,5.0,1,1,15,8.293412
34,1,0,0,0,0,0,34,1,1993,5.0,1,1,10,11.406765

In [326]:
df_presidents_final_map.to_csv('President and Gdp data Encoded.csv', index=False)

In [ ]:
pd.read_csv()